*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{

}
header{
    
    background-color: #B4D0E7;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
}

nav > div{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

nav > div > img{
    min-width: 127px;
    min-height: 25px;
}

.bottone-azzurro{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
}

#jumbo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

#jumbo > div{
    display: flex;
    flex-direction: row;
}

#jumbo img{
    min-width: 50%;
    min-height: 30%;
}
