*{ /* pulizia iniziale */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{ /* definisce la grandezza massima degli oggetti del main e non solo */
    --max-width-center:65%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B4D0E7;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav > div{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

nav > div > img{
    min-width: 127px;
    min-height: 25px;
}

h1{
    font-size: 70px;
    word-wrap: break-word;
    max-width: var(--max-width-center);
    margin: 2em 0em 0.75em 0em;

}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main h3{
    margin: .7em 0 ;
    font-size: 24px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

/*#ff00ff---------------------------------------------------------------------------- fine tag, inizio classi ----------------------------------------------------------------------------#ff00ff*/

.bottone-azzurro{ /* specifica i bottoni azzurri */
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
    max-width: max-content;
    max-height: max-content;
}

.bi-arrow-down-short{ /* modifica un'icona di bootstrap */
    font-weight: bold;
    font-size: 60px;
    align-self: flex-end;
}

.checkbox-esterno{ /* blocco per la checkbox, l'esterno che rende azzurro il tutto */
    display: flex;
    justify-content: center;
    border-radius: var(--grandezza-raggio-checkbox); /* viene specificato in #piano-costo(215)*/
    background-color: #0061ff;
    padding: calc(var(--grandezza-raggio-checkbox) / 2);
    max-width: calc(var(--grandezza-raggio-checkbox) * 2);
    
}

.checkbox-interno{ /* parte interna della checkbox di colore bianco */
    background-color: white;
    padding: calc(var(--grandezza-raggio-checkbox) / 2);
    border-radius: calc(var(--grandezza-raggio-checkbox) / 2);
}

.scritta-piano-costo{ 
    margin: 0 30px 0 3px;
}

.card{ /* regole base per le card dei piani di vendita */
    display: flex;
    flex-direction: column;
    border: 2px solid #d0d0d3;
    width: calc(100% / 3 - 20px);
}

.card-titolo{ /* serve per dividere il titolo dal corpo con la linea e non solo */
    text-align: center;
    font-size: 20px;
    padding: .7em 0;
    border-bottom: 2px solid #d0d0d3;
}

.card-corpo{ /* regole base per il corpo delle card */
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
}

.card-corpo .bottone-azzurro{
    margin-bottom: 2.5em;
}

.card-bold{ /* rende in grassetto certe scritte dele card */
    margin: 1em 0 ;
    font-weight: bold;
}

.card-durata-abbonamento{
    margin: .6em 0 3em 0 ;
}

.card-spiegazione-piano{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3em;
}

.card-fake-line{ /* serve per creare la linea in mezzo alle card che non copre l'intera lunghezza della card */
    width: 3.5em;
    padding-bottom: 2em;
    border-bottom: 2px solid #d0d0d3;
    margin-bottom: 2.7em;
}

.bi-check-lg{ /* modifica un'icona di bootstrap */
    color: #1163FF;
    font-weight: bold;
}

.card-parte-finale{ 
    margin-bottom: 1em;
}

.bottone-bianco{ /* classe per specificare i bottoni bianchi della pagina */
    margin-top: 1.5em;
    padding: .7em;
    border: 1px solid black;
    max-width: max-content;
    max-height: max-content;
}

.business-card{ /* divide in tre le card nella zona business tenendo conto del gap */
    max-width: calc(100% / 3 - 2em);
}

.business-card img{ /* ridimensiona le immagini */
    max-width: 100%;
    max-height: 300px;
}

.business-card h3{
    margin-bottom: 2em;
}

.azienda-laterale{ /* specifica le regole base dei quadrati laterali nella zona delle aziende */
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.azienda-blocco-colorato{ /* specifica le regole per il colore sempre della zona di prima */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/2);
    height: 318px;
    padding: 2em;
}

.azienda-blocco-colorato img{ /* ridimensiona la grandezza dei loghi */
    max-width: 85%;
    max-height: 85%;
}

.domande-frequenti-sez{ /* crea lo spazio e la linea inferiore nella zona delle domande frequenti */
    border-bottom: 1px solid black;
    padding: 2em 0;
    font-weight: bold;
}

/*#ff00ff ----------------------------------------------------------------------------fine classi, inizio id ---------------------------------------------------------------------------- #ff00ff*/

#main-alto{ /* posiziona gli oggetti della pagina al centro del main e in colonna */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 6em;
}

#jumbo{ /* regole per jumbo */
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#jumbo > div{
    display: flex;
    flex-direction: row;
    max-width: var(--max-width-center);
}

#jumbo img{
    max-width: 960px;
    max-height: 549px;
    position: absolute;
}

#p-jumbo{ /* regole per la zona delle scritte di jumbo */
    display: flex;
    flex-direction: column;
}

#p-jumbo .bottone-azzurro{
    margin: 2em 0em;
}

#arrow-down{
    margin-top: calc(469px - 100%);
}

#img{
    max-width: 960px;
    max-height: 469px;
    min-width: 960px;
    min-height: 469px;
}

#piano-costo{ /* regole che specificano la sezione con i piani e i costi */
    --grandezza-raggio-checkbox: 8px;
    display: flex;
    flex-direction: column;
    width: var(--max-width-center);
}

#sezione-bottoni{
    display: flex;
    flex-direction: row;
    padding: 3em 0;
}

#sezione-superiore-card-costo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#ultima-card{ /* regole per la card orizzontale */
    width: 100%;
    width: calc(100% - 20px);
    margin-top: 3em;
}

#ultima-card-corpo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    margin: 1em;
}

#ultima-card-scritte{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#h3-ultima-card{
    margin: 0;
}

#ultima-card-bottone{
    padding-right: 2em;
}

#partner{ /* regole per la sezione dei partner */
    display: flex;
    flex-direction: row;
    margin-top: 9em;
    gap: 40px;
    width: var(--max-width-center);
}

#partner img{
    max-width: 800px;
    max-height: 480px;
}

#partner-scritte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: calc(100% - 840px);
}

#business{ /* regole per la sezione business */
    display: flex;
    flex-direction: column;
    max-width: var(--max-width-center);
    margin-top: 5em;
}

#business h2{
    font-size: 40px;
}

#business-corpo{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 2em;
}

#teams{
    width: var(--max-width-center);
    margin: 6em 0 6em 0;
}

#teams h2{
    font-size: 40px;
    margin: 2em 0 2em 0;
}

#azienda{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#azienda-blocco-grigio{
    display: flex;
    flex-direction: column;
    max-width: 636px;
    height: 636px;
    background-color: #F5F5F5;
    border: 4em solid #F5F5F5;
}

#azienda-blocco-grigio-fake-line{
    width: 8em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d0d0d3 ;
    margin-bottom: 2.7em;
}

/* inizio colori per le card dei partner*/
#azienda-blocco-colorato-uno{
    background-color: #A2D39B;
}

#azienda-blocco-colorato-due{
    background-color: #61082B;
}

#azienda-blocco-colorato-tre{
    background-color: #0093CE;
}

#azienda-blocco-colorato-quattro{
    background-color: #FF1C1C;
}

#azienda-blocco-colorato-cinque{
    background-color: #D5001F;
}

#azienda-blocco-colorato-sei{
    background-color: #B4D0E7;
}

#azienda-blocco-colorato-sette{
    background-color: #0D2481;
}

#azienda-blocco-colorato-otto{
    background-color: #FFD830;
}
/* fine colori per le card dei partner*/

#prova-gratuita{ /* regole per la sezione della proga gratuita */
    display: flex;
    justify-content: space-around;
    background-color: #B4D0E7;
    color: #61082B;
    padding: 6em 13em;
}

#prova-gratuita h2{
    font-size: 40px;
}

#prova-gratuita span{
    background-color: white;
    padding: .6em 3em;
}

#domande-frequenti{ /* regole per la sezione delle domande seguenti */
    width: var(--max-width-center);
    margin: 6em 12.5%  6em 12.5%;
}

#domande-frequenti h2{
    font-size: 45px;
}

#footer{ /* regole per la sezione del footer, è un div che si trova nel footer per centrarlo con il centro */
    display: flex;
    flex-direction: row;
    gap: 6em;
    width: var(--max-width-center);
    padding: 6em 0 3em 0;
}

#footer div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#footer-fake-line{ /* finta liena come nella sezione dei piani */
    width: 8em;
    padding-bottom: 2em;
    border-bottom: 2px solid #d0d0d3;
    margin-bottom: 2.7em;
}