*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --max-width-center:65%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B4D0E7;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav > div{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
}

nav > div > img{
    min-width: 127px;
    min-height: 25px;
}

h1{
    font-size: 70px;
    word-wrap: break-word;
    max-width: var(--max-width-center);
    margin: 2em 0em 0.75em 0em;

}

.bottone-azzurro{
    background-color: #0061FF;
    padding: 5px 10px;
    color: white;
}

.bi-arrow-down-short{
    font-weight: bold;
    font-size: 60px;
    align-self: flex-end;
}

#jumbo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

#jumbo > div{
    display: flex;
    flex-direction: row;
    max-width: var(--max-width-center);
}

#jumbo img{
    max-width: 960px;
    max-height: 549px;
    position: absolute;
}

#p-jumbo{
    display: flex;
    flex-direction: column;
}

#p-jumbo .bottone-azzurro{
    max-width: max-content;
    margin: 2em 0em;
}

#arrow-down{
    margin-top: calc(469px - 100%);
}

#img{
    max-width: 960px;
    max-height: 469px;
    min-width: 960px;
    min-height: 469px;
}
